In [1]:
# ================================================================================
# Splitting training and test sets
# ================================================================================

import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

data=pd.read_csv('WAGE2_2025_abridged.csv')

state=1108224 # replace this number with the sum of the student IDs for the members of your group

train = data.sample(frac=0.8, random_state=state)
test = data[data.index.isin(train.index)==False].copy() # Only for prediction

train=train.reset_index(drop=True)
test=test.reset_index(drop=True)

In [3]:
data.shape

(916, 17)

In [9]:
data.dropna()

,wage,hours,IQ,KWW,educ,exper,tenure,age,married,black,south,urban,sibs,brthord,meduc,feduc,lwage
0,769,40,93,35,12,11,2,31,1,0,0,1,1,2.0,8.0,8.0,6.645091
2,825,40,108,46,14,11,9,33,1,0,0,1,1,2.0,14.0,14.0,6.715383
3,650,40,96,32,12,13,7,32,1,0,0,1,4,3.0,12.0,12.0,6.476973
4,562,40,74,27,11,14,5,34,1,0,0,1,10,6.0,6.0,11.0,6.331502
6,600,40,91,24,10,13,0,30,0,0,0,1,1,2.0,8.0,8.0,6.396930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,566,45,104,46,16,5,2,32,1,0,1,0,1,2.0,12.0,12.0,6.338594
910,481,40,82,27,12,9,2,32,1,0,1,0,2,2.0,12.0,8.0,6.175867
911,1442,40,113,45,16,8,10,35,1,0,1,1,2,2.0,8.0,8.0,7.273786
912,645,45,93,39,12,11,3,35,1,0,1,0,7,7.0,7.0,8.0,6.469250
915,477,45,100,33,12,9,3,31,1,0,1,0,3,3.0,7.0,7.0,6.167517